/****** DEBUG ******/


body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.img{
    max-width: 100%;
}

ul,
li,
a{
    text-decoration: none;
    list-style-type: none;
    color: currentColor;
}





.main-container{
    flex-grow: 1;
    overflow-y: auto;
}


main{
    flex-grow: 1;
    background-color: rgba(20,25,34,255);
    display: flex;
    overflow: hidden;
}




/****** SPOTIFY ******/


.max-container{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/****** PLAYER ******/


aside{
    flex-shrink: 0;
    background-color: rgba(40,40,40,255);
}

.media-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 11px 20px 12px;
}

.player-container{
    display: flex;
    align-items: center;
}

.small-player{
    flex-basis: 30%;
    justify-content: flex-start;
    min-width: 140px;
}

.small-player-end{
    flex-basis: 30%;
    justify-content: flex-end;
}

.big-player{
    flex-basis: 35%;
    justify-content: center;
}

.album-track-played{
    max-width: 42px;
    margin-right: 11px;
    flex-basis: 100%;
}

.name-track-played{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 42px;
}

.artist-name{
    font-size: 12px;
}

.track-name{
    display: flex;
    gap: 2px;
    font-size: 11px;
    color: rgba(107,107,107,255);
}

.track-name:hover{
    color: white;
}

.icon-track-played{
    display: flex;
    font-size: 14px;
    color: rgba(107,107,107,255);
    gap: 17px;
}

.icon-track1:hover{
    font-size: 15px;
    color: white;
    margin-right: -1px;
    margin-top: -1px;
}

.icon-track2:hover{
    font-size: 15px;
    color: white;
    margin: -1px;
}

.big-player{
    display: flex;
    flex-direction: column;
}

.track-player{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
    margin-bottom: 14px;
    font-size: 20px;
}

.track-player > i{
    font-size: 20px;
}

.play-button-player{
    font-size: 28px;
}

.play-button-player:hover{
    font-size: 30px;
    margin: -2px -1px 0 -1px;
}

.track-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
    width: 100%;
}

.progress-bar-container{
    position: relative;
    width: 100%;
    gap: 22px;
}

.progress-bar{
    width: 100%;
    height: 5px;
    background-color: rgba(90,90,90,255);
    border-radius: 5px;
}

.progress-bar-gray{
    position: absolute;
    top: 0;
    width: 30%;
    height: 5px;
    background-color: rgba(173,173,173,255);
    border-radius: 5px;
}

.progress-bar-gray:hover{
    position: absolute;
    top: 0;
    width: 30%;
    height: 5px;
    background-color: greenyellow;
    border-radius: 5px;
}

.progress-bar-container > i{
    display: none;
    position: absolute;
    top: -5px;
    left: 29%;
    z-index: 2;
}

.track-bar i:hover{
    display: table;
}

.time-track{
    font-size: 11px;
}

.volume-player{
    display: flex;
    justify-content: flex-end;
    gap: 17px;
    align-items: center;
    width: 100%;
    font-size: 12px;
}

.bar-volume-container{
    position: relative;
    display: flex;
    gap: 13px;
    align-items: center;

}

.progress-bar-volume{
    width: 100px;
    height: 3px;
    background-color: rgba(90,90,90,255);
    border-radius: 5px;
}

.progress-volume{
    position: relative;
}

.circle-icon{
    display: none;
    position: absolute;
    font-size: 12px;
    top: -4px;
    left: 28px;
    z-index: 2;
}

.progress-bar-volume-gray{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: rgba(173,173,173,255);
    border-radius: 5px;
}


/****** QUERY PLAYER ******/

@media only screen and (max-width: 639px){

    .album-track-played{
        width: 22%;
    }

    .icon-track-played{
        flex-direction: column;
        gap: 0;
        row-gap: 5px;
    }

    .track-name{
        flex-direction: column;
        gap: 0;
    }

    .volume-player{
        gap: 9px;
        justify-content: space-between;
    }

    .media-player{
        gap: 8px;
    }
}



    /****** SIDEBAR ******/

  
.sidebar-container{
    width: 230px;
    background-color: rgba(0,0,0,255);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: rgba(163,163,163,255);
}

.logo-sidebar{
    margin: 20px 0 30px 0;
}

.big-logo{
   width: 130px; 
}

.small-logo{
    width: 30px;
    display: none;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;

}

.home-icon-sec {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
}

.icon-flex{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 9px;
    flex-basis: 100%;
}

.icon-flex > img{
    width: 23px;
}

.playlist-menu{
    display: flex;
    flex-direction: column;
}

.playlist-menu > h2{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
    color: white;
}

.playlist-button{
    display: flex;
    align-items: center;
    gap: 11px;
}

.playlist-button > i{
    padding: 9px;
    background-color: rgba(163,163,163,255);
    color: black;
}

.playlist-button > div{
    font-size: 14px;
}


